body {
    background: #202124;
    font-family: 'Bebas Neue', cursive;
}

.title_festival {
    color: #e8eaed;
}

.button-color {
    background: #212529;
    border-color : #212529;
    color: #e8eaed
}

.button-color:hover {
    background: #202124;
    border-color : #202124;
    color: #e8eaed;
}
.card_artists {
    font-size: 30px;
}

.card_artists_title_main {
    background-color: #676369;

}

.card_artists_main {
    background-color: #848286;
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

@media (min-width: 992px) {
  .rounded-lg-3 { border-radius: .3rem; }
}
